.content-screen-result,
.content-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: auto 0;

    h1 {
        margin-bottom: 1rem;
    }
}


.try-again {
    border: none !important;

    &__stats {
        text-align: start;

        span {
            h1 {
                font-size: 1.5rem !important;
                margin-bottom: 0%;
                width: 15rem;
                text-align: start;
            }

            b {
                font-size: 1.5rem !important;
                text-align: start;
                min-width: 5rem;
            }
        }
    }
}

.last-result {
    width: 50%;
    padding: 1rem 2rem;
    text-align: center;
    border: 5px solid white;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    margin: 0rem 0 1rem 0;
    img {
        width: 10rem;
        margin: auto;
        margin-bottom: 1rem;
    }


   

    p {
        color: #a3ea2a;
        margin: 1rem 0;
        font-style: italic;
    }

    small {
        position: absolute;
        background-color: #151c2b;
        padding: .5rem;
        bottom: 0%;
        left: 0%;
    }

    &__stats {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 2rem 0 1rem 0;

        span {
            display: flex;
            gap: 10px;
            text-align: center;
            align-items: center;
            margin-bottom: .5rem;

            h1 {
                font-size: 1.2rem;
                margin-bottom: 0%;
                width: 15rem;
                text-align: start;
            }

            b {
                font-size: 1.2rem;
                width: 4rem;
            }
        }
    }
}






.model-container {
    width: 50%;
    margin: 1rem auto;
    .model {
        color: white;
        border-radius: 10px;
        font-size: .8rem;

        .flag {
            display: flex;
            justify-content: center;
            font-weight: 300;
            position: relative;
            align-items: flex-start;
            flex-direction: row;
            font-size: 1rem;
        }

        .flag-model-tag {
            padding: .5rem 1rem;
            display: flex;
            align-items: center;
            justify-content: center;

            h2 {
                font-weight: 300;
                font-size: 1rem;
            }
        }
    }
}

@media screen and (max-width:1150px) {
    .last-result {
        width: 70%;
    }
}

@media screen and (max-width:820px) {
    .last-result {
        width: 90%;
    }
}

@media screen and (max-width:550px) {
    .last-result {
        width: 97%;
        padding: 1rem .5rem;
        margin: 2rem auto;

        &__stats {
            span {
                flex-direction: column;
                text-align: start;
                align-items: flex-start;
                margin-bottom: 1.5rem;
            }
        }
    }
}