.header {
    text-align: center;
    padding: .2rem .5rem;
    border-bottom: .1px solid #ececec7a;

}

header {

    h1 {
        font-size: 2.5rem;
        font-weight: 500;
    }

    p {
        word-spacing: -.05rem;
    }
}

.offical-header {
    background-color: #151c2b;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    position: relative;

    .image-container {
        position: absolute;
        left: 0%;
        top: 10%;
        min-width: 10rem;

        img {
            width: 100%;
            max-height: 65px;
        }
    }

    .header-content {
        flex: 1;
        text-align: center;

        h1 {
            font-size: 2rem;
        }

        p {
            color: #a3ea2a;
        }
    }
}

@media screen and (max-width:650px) {
    .offical-header{
        flex-direction: column;
        padding: 1rem !important;
    }
    .image-container{
        position: relative !important;
        img{
            max-height: 80px !important;
        }
    }
    .header-content{
        h1{
            font-size: 1.5rem !important;
        }
        p{font-size: .8rem !important;}
    }
}