.thirdScreenWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
    width: 70%;
    margin: auto;
    gap : 10px;
    border: 1px solid white;
    form,div{
        flex:  0 0 50%;
        display: flex;
        flex-direction: column;
        gap:  5px 0;
        span {
            display: flex;
            flex-direction: row;
            input,label,p{
                flex: 0 0 50%;
            }
            input,p{
                height: 2rem !important;
            }
            input{
                color: white;
            }
            
        }
    }
}

tbody,thead{
    display: flex;
    flex-direction: column;
    gap: 5px ;
    background-color: red;
    width: 100%;
}