@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Ubuntu");

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: #212c42;
    padding: .5rem;
    min-height: 100vh;
    color: #ececec;
    font-family: "Source Sans Pro", "Ubuntu", sans-serif !important;
}

@import './modules/header';
@import './modules/firstScreen';
@import './modules/secondScreen';
@import './modules/thirdScreen';
@import './modules/fourthScreen';





.wrapper {
    border: 1px solid #ececec;
    background-color: #212c42;
    min-height: 95vh;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}




// button for all submit/next/play game
.btn-container {
    width: 100%;
    text-align: center;
    height: 5rem;
    padding: 1rem;
    margin-top: 1rem;

    button,
    input[type='submit'] {
        cursor: pointer;
        background-color: #454e6087;
        width: 50%;
        margin: auto;
        padding: .7rem 0;
        transition: .3s all ease-in-out;
        border-radius: 10px;
        font-weight: 600;
        border: none;
        color: #ececec;
        font-size: 1.2rem;

        &:hover {
            background-color: #212c42;
            border: 1px solid #ececec;
        }

        // &:active {
        //     border: none;
        // }
    }
}

@media screen and (max-width:750px) {
    .btn-container {

        button,
        input[type='submit'] {
            width: 80%;
        }
    }
}



.handleAnimate {
    animation: fadeInOut 2s linear infinite;
    color: #a3ea2a;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}