@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Ubuntu");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-color: #212c42;
  padding: 0.5rem;
  min-height: 100vh;
  color: #ececec;
  font-family: "Source Sans Pro", "Ubuntu", sans-serif !important;
}

.header {
  text-align: center;
  padding: 0.2rem 0.5rem;
  border-bottom: 0.1px solid rgba(236, 236, 236, 0.4784313725);
}

header h1 {
  font-size: 2.5rem;
  font-weight: 500;
}
header p {
  word-spacing: -0.05rem;
}

.offical-header {
  background-color: #151c2b;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  position: relative;
}
.offical-header .image-container {
  position: absolute;
  left: 0%;
  top: 10%;
  min-width: 10rem;
}
.offical-header .image-container img {
  width: 100%;
  max-height: 65px;
}
.offical-header .header-content {
  flex: 1;
  text-align: center;
}
.offical-header .header-content h1 {
  font-size: 2rem;
}
.offical-header .header-content p {
  color: #a3ea2a;
}

@media screen and (max-width: 650px) {
  .offical-header {
    flex-direction: column;
    padding: 1rem !important;
  }
  .image-container {
    position: relative !important;
  }
  .image-container img {
    max-height: 80px !important;
  }
  .header-content h1 {
    font-size: 1.5rem !important;
  }
  .header-content p {
    font-size: 0.8rem !important;
  }
}
.user-form-container {
  width: 60%;
  border-radius: 10px !important;
  padding: 1rem;
}
.user-form-container form span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  overflow: hidden;
  padding: 0.5rem;
}
.user-form-container form span .developer-container-input {
  width: 50%;
  position: relative;
  height: 100% !important;
  padding: 1rem !important;
  background-color: rgba(69, 78, 96, 0.5294117647);
  color: white;
  text-align: center;
}
.user-form-container form span .developer-container-input input {
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0%;
  left: 0%;
}
.user-form-container form span .developer-container-input .user-btn-container {
  top: 0%;
  left: 0%;
  height: 100%;
  position: absolute;
  width: 100%;
  display: flex;
}
.user-form-container form span .developer-container-input .user-btn-container:focus-within {
  outline: 1px solid white !important;
}
.user-form-container form span .developer-container-input .user-btn-container input:focus {
  outline: none !important;
  border: none;
}
.user-form-container form span .developer-container-input .user-btn-container button {
  background-color: rgba(69, 78, 96, 0.5294117647) !important;
  color: white;
  z-index: 40;
  height: 100%;
  font-weight: 600;
  border: none;
  outline: none;
  top: 0%;
  padding: 0 0.1rem;
  cursor: pointer;
  min-width: 2.5rem;
  transition: 0.3s all ease-in-out;
}
.user-form-container form span .developer-container-input .user-btn-container button:hover {
  background-color: #212c42 !important;
  outline: 1px solid #ececec;
}
.user-form-container form span .developer-container-input button:nth-of-type(1) {
  margin-right: 0.3rem;
}
.user-form-container form span .developer-container-input button:nth-of-type(2) {
  margin-right: 0.3rem;
}
.user-form-container form span .developer-container-input button:nth-of-type(4) {
  margin-right: 0.3rem;
}
.user-form-container form span .developer-container-input button:nth-of-type(5) {
  margin-right: 0.3rem;
}
.user-form-container form span label {
  padding: 0.5rem 0;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0 10px;
}
.user-form-container form span label i {
  font-size: 1.5rem;
  min-width: 2rem;
}
.user-form-container form span .inputs-user:focus {
  border: 1px solid white;
}
.user-form-container form span input,
.user-form-container form span .inputs-user {
  height: 100% !important;
  padding: 0.5rem !important;
  background-color: rgba(69, 78, 96, 0.5294117647);
  color: white;
  text-align: center;
  border: none;
  outline: none;
}
.user-form-container form span p {
  text-align: center !important;
  width: 50%;
}

@media screen and (max-width: 1050px) {
  .user-form-container {
    width: 80%;
  }
}
@media screen and (max-width: 765px) {
  .user-form-container {
    width: 95%;
  }
}
@media screen and (max-width: 665px) {
  .user-form-container span {
    padding: 0.1rem;
    justify-content: center;
  }
  .user-form-container span:nth-of-type(3), .user-form-container span:nth-of-type(4) {
    flex-direction: column;
    align-items: flex-start !important;
  }
  .user-form-container span .developer-container-input {
    width: 90% !important;
  }
}
.secondScreenWrapper {
  border-radius: 10px;
  width: 100;
  margin: auto;
  gap: 10px;
  width: 90%;
  margin: auto;
  padding-top: 4rem;
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 50px;
  justify-content: center;
}
.secondScreenWrapper .sdlc-form {
  flex: 0 0 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.secondScreenWrapper .sdlc-form span {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 50px;
  overflow: hidden;
  padding: 0.5rem;
}
.secondScreenWrapper .sdlc-form span:nth-of-type(8) {
  position: absolute;
  top: 0%;
  right: 0%;
  text-align: center;
  display: flex;
  padding: 1rem 1.5rem;
  background-color: rgba(69, 78, 96, 0.5294117647);
}
.secondScreenWrapper .sdlc-form span:nth-of-type(8) p {
  width: 100%;
}
.secondScreenWrapper .sdlc-form span .sdlc-container-input {
  width: 100%;
  position: relative;
  height: 2.2rem !important;
  background-color: rgba(69, 78, 96, 0.5294117647);
  color: white;
  text-align: center;
}
.secondScreenWrapper .sdlc-form span .sdlc-container-input input {
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0%;
  left: 0%;
}
.secondScreenWrapper .sdlc-form span .sdlc-container-input .sdlc-btn-container {
  top: 0%;
  left: 0%;
  height: 100%;
  position: absolute;
  width: 100%;
  display: flex;
}
.secondScreenWrapper .sdlc-form span .sdlc-container-input .sdlc-btn-container:focus-within {
  outline: 1px solid white !important;
}
.secondScreenWrapper .sdlc-form span .sdlc-container-input .sdlc-btn-container input {
  text-align: center;
  background-color: rgba(69, 78, 96, 0.5294117647);
  border: none;
  outline: none;
  color: #ececec;
}
.secondScreenWrapper .sdlc-form span .sdlc-container-input .sdlc-btn-container input:focus {
  outline: none !important;
  border: none;
}
.secondScreenWrapper .sdlc-form span .sdlc-container-input .sdlc-btn-container button {
  background-color: rgba(69, 78, 96, 0.5294117647) !important;
  color: white;
  z-index: 40;
  height: 100%;
  font-weight: 600;
  border: none;
  outline: none;
  top: 0%;
  padding: 0 0.1rem;
  cursor: pointer;
  min-width: 2.5rem;
  transition: 0.3s all ease-in-out;
}
.secondScreenWrapper .sdlc-form span .sdlc-container-input .sdlc-btn-container button:hover {
  background-color: #212c42 !important;
  outline: 1px solid #ececec;
}
.secondScreenWrapper .sdlc-form span .sdlc-container-input button:nth-of-type(1) {
  margin-right: 0.3rem;
}
.secondScreenWrapper .sdlc-form span .sdlc-container-input button:nth-of-type(2) {
  margin-right: 0.3rem;
}
.secondScreenWrapper .sdlc-form span .sdlc-container-input button:nth-of-type(4) {
  margin-right: 0.3rem;
}
.secondScreenWrapper .sdlc-form span .sdlc-container-input button:nth-of-type(5) {
  margin-right: 0.3rem;
}
.secondScreenWrapper .sdlc-form span label {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.secondScreenWrapper .sdlc-form span label div img {
  width: 55px;
  height: 55px;
  margin-right: 0.5rem;
  outline: 2px solid #a3ea2a;
  padding: 0.1rem;
  border-radius: 50%;
}
.secondScreenWrapper .sdlc-form span label img {
  width: 15rem;
  height: 2rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.limts-stats {
  width: 100%;
}
.limts-stats__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.limts-stats__heading {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  gap: 0 20px;
}
.limts-stats__heading div h1 {
  font-size: 1rem;
  font-weight: 800;
}
.limts-stats__content {
  display: flex;
  flex-direction: column;
}
.limts-stats__content div {
  margin-top: 1.65rem;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  gap: 0 20px;
}
.limts-stats__content div p {
  font-size: 1rem;
  text-align: center;
}

.second-btn {
  margin-top: 0% !important;
  padding: 0%;
}

.remaining-sprint-container {
  position: absolute;
  top: 5%;
  left: 0%;
  display: flex;
  transform: translate(0%, -50%);
  justify-content: center;
  color: #a3ea2a;
  gap: 5px;
  width: 100%;
  font-weight: 500;
  font-size: 1.2rem;
}

@media screen and (max-width: 1150px) {
  .secondScreenWrapper {
    width: 95%;
  }
}
@media screen and (max-width: 1050px) {
  .limts-stats {
    margin-top: 0.5rem;
  }
  .secondScreenWrapper {
    grid-template-columns: 1.2fr 1fr;
  }
  .secondScreenWrapper .sdlc-form span {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
.content-screenthree {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.screen3-container {
  width: 70%;
  padding: 4rem;
}
.screen3-container img {
  width: 100%;
}

.table-result {
  width: 80%;
  margin: 3rem auto;
}
.table-result table {
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
}
.table-result table thead {
  background-color: #151c2b;
}
.table-result table thead tr th {
  padding: 1rem 0.3rem !important;
  text-align: center;
}
.table-result table tbody tr {
  background-color: rgba(69, 78, 96, 0.5294117647) !important;
  text-align: center;
}
.table-result table tbody tr td {
  padding: 0.7rem 0;
}

.wrapper {
  border: 1px solid #ececec;
  background-color: #212c42;
  min-height: 95vh;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.btn-container {
  width: 100%;
  text-align: center;
  height: 5rem;
  padding: 1rem;
  margin-top: 1rem;
}
.btn-container button,
.btn-container input[type=submit] {
  cursor: pointer;
  background-color: rgba(69, 78, 96, 0.5294117647);
  width: 50%;
  margin: auto;
  padding: 0.7rem 0;
  transition: 0.3s all ease-in-out;
  border-radius: 10px;
  font-weight: 600;
  border: none;
  color: #ececec;
  font-size: 1.2rem;
}
.btn-container button:hover,
.btn-container input[type=submit]:hover {
  background-color: #212c42;
  border: 1px solid #ececec;
}
.btn-container button:active,
.btn-container input[type=submit]:active {
  border: none;
}

@media screen and (max-width: 750px) {
  .btn-container button,
.btn-container input[type=submit] {
    width: 80%;
  }
}/*# sourceMappingURL=style.css.map */