* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


@import './modules/header';
@import './modules/thirdScreen';


body {
    background-color: #212c42;
    padding: .5rem;
    min-height: 100vh;
    color: #ececec;
}

.wrapper {
    border: 1px solid #ececec;
    min-height: 95vh;
    border-radius: 10px;
    overflow: hidden;
    // padding: .5rem;
    display: flex;
    flex-direction: column;

}



.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    // padding: 1rem;
}

.introduction {
    width: 80%;

    h1 {
        color: #a3ea2a;
        font-size: 1.75rem;
        font-weight: 400;
        text-decoration: underline;
        margin-bottom: 1rem;
    }

    ul {
        margin-left: 4rem;
        list-style: disc;

        li {
            margin-top: .5rem;
        }
    }

    

}


.btn-container {
    width: 100%;
    text-align: center;
    height: 5rem;
    padding: 1rem;
    margin-top: 1rem !important;
    button,
    input[type='submit'] {
        cursor: pointer;
        background-color: #454e60;
        width: 50%;
        margin: auto;
        padding: .7rem 0;
        transition: .3s all ease-in-out;
        border-radius: 10px;
        font-weight: 600;
        border: none;
        color: #ececec;

        &:hover {
            background-color: #454e6087;
            border: 1px solid #ececec;
        }

        &:active {
            border: none;
        }
    }
}


.user-form-container {
    width: 60%;
    border-radius: 10px !important;
    border: 1px solid #ececec !important;
    padding: 1rem;
    form {
        span {
            border-bottom: 1px solid #ececec;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 1rem;

            label {
                padding: .5rem 0;
                font-weight: 700;
            }

            input {
                height: 100% !important;
                padding: .5rem !important;
            background-color: #454e6087;
                color: white;
            }
        }
    }
}


input {
    border: none;
    outline: none;
    background-color: #151c2b;
    height: 100% !important;
    width: 50%;
}

// input:active{
//     outline: none;
// }