@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Ubuntu");
* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #212c42;
  padding: .5rem;
  min-height: 100vh;
  color: #ececec;
  font-family: "Source Sans Pro", "Ubuntu", sans-serif !important;
}

.header {
  text-align: center;
  padding: .2rem .5rem;
  border-bottom: .1px solid #ececec7a;
}

header h1 {
  font-size: 2.5rem;
  font-weight: 500;
}

header p {
  word-spacing: -.05rem;
}

.offical-header {
  background-color: #151c2b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 2rem;
  position: relative;
}

.offical-header .image-container {
  position: absolute;
  left: 0%;
  top: 10%;
  min-width: 10rem;
}

.offical-header .image-container img {
  width: 100%;
  max-height: 65px;
}

.offical-header .header-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.offical-header .header-content h1 {
  font-size: 2rem;
}

.offical-header .header-content p {
  color: #a3ea2a;
}

@media screen and (max-width: 650px) {
  .offical-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem !important;
  }
  .image-container {
    position: relative !important;
  }
  .image-container img {
    max-height: 80px !important;
  }
  .header-content h1 {
    font-size: 1.5rem !important;
  }
  .header-content p {
    font-size: .8rem !important;
  }
}

.firstScreenWarning {
  text-align: center;
  color: red;
  font-size: 1.2rem;
  min-height: 1.5rem;
}

.user-form-container {
  width: 60%;
  border-radius: 10px !important;
  padding: 1rem;
}

.user-form-container form span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
  overflow: hidden;
  padding: .5rem;
}

.user-form-container form span .developer-container-input {
  width: 50%;
  position: relative;
  height: 100% !important;
  padding: 1rem !important;
  background-color: #454e6087;
  color: white;
  text-align: center;
}

.user-form-container form span .developer-container-input input {
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0%;
  left: 0%;
}

.user-form-container form span .developer-container-input .user-btn-container {
  top: 0%;
  left: 0%;
  height: 100%;
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-form-container form span .developer-container-input .user-btn-container:focus-within {
  outline: 1px solid white !important;
}

.user-form-container form span .developer-container-input .user-btn-container input:focus {
  outline: none !important;
  border: none;
}

.user-form-container form span .developer-container-input .user-btn-container button {
  background-color: #454e6087 !important;
  color: white;
  z-index: 40;
  height: 100%;
  font-weight: 600;
  border: none;
  outline: none;
  top: 0%;
  padding: 0 .1rem;
  cursor: pointer;
  min-width: 2.5rem;
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

.user-form-container form span .developer-container-input .user-btn-container button:hover {
  background-color: #212c42 !important;
  outline: 1px solid #ececec;
}

.user-form-container form span .developer-container-input button:nth-of-type(1) {
  margin-right: .3rem;
}

.user-form-container form span .developer-container-input button:nth-of-type(2) {
  margin-right: .3rem;
}

.user-form-container form span .developer-container-input button:nth-of-type(4) {
  margin-right: .3rem;
}

.user-form-container form span .developer-container-input button:nth-of-type(5) {
  margin-right: .3rem;
}

.user-form-container form span label {
  padding: .5rem 0;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 10px;
}

.user-form-container form span label i {
  font-size: 1.5rem;
  min-width: 2rem;
}

.user-form-container form span .inputs-user:focus {
  border: 1px solid white;
}

.user-form-container form span input,
.user-form-container form span .inputs-user {
  height: 100% !important;
  padding: .5rem !important;
  background-color: #454e6087;
  color: white;
  text-align: center;
  border: none;
  outline: none;
}

.user-form-container form span p {
  text-align: center !important;
  width: 50%;
}

@-webkit-keyframes typing {
  from {
    width: 100%;
  }
  90%,
  to {
    width: 0;
  }
}

@keyframes typing {
  from {
    width: 100%;
  }
  90%,
  to {
    width: 0;
  }
}

.typing-slider {
  text-align: center;
  white-space: nowrap;
}

.typing-slider p {
  position: relative;
  display: inline;
  -webkit-animation: slide 1s;
          animation: slide 1s;
}

.typing-slider p::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #212c42;
  -webkit-animation: typing 1s 1, cursor 1s 1;
          animation: typing 1s 1, cursor 1s 1;
}

@media screen and (max-width: 1050px) {
  .user-form-container {
    width: 80%;
  }
}

@media screen and (max-width: 765px) {
  .user-form-container {
    width: 95%;
  }
}

@media screen and (max-width: 665px) {
  .user-form-container span {
    padding: .1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .user-form-container span:nth-of-type(3), .user-form-container span:nth-of-type(4) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
  .user-form-container span .developer-container-input {
    width: 90% !important;
  }
}

.secondScreenWrapper {
  border-radius: 10px;
  width: 100;
  margin: auto;
  gap: 10px;
  width: 90%;
  margin: auto;
  padding-top: 2rem;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  gap: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.secondScreenWrapper .sdlc-form {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.secondScreenWrapper .sdlc-form span {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  overflow: hidden;
  padding: 0.5rem;
}

.secondScreenWrapper .sdlc-form span:nth-of-type(8) {
  position: absolute;
  top: 0%;
  right: 0%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 1.5rem;
  background-color: #454e6087;
}

.secondScreenWrapper .sdlc-form span:nth-of-type(8) p {
  width: 100%;
}

.secondScreenWrapper .sdlc-form span .sdlc-container-input {
  width: 100%;
  position: relative;
  height: 2.2rem !important;
  background-color: #454e6087;
  color: white;
  text-align: center;
}

.secondScreenWrapper .sdlc-form span .sdlc-container-input input {
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0%;
  left: 0%;
}

.secondScreenWrapper .sdlc-form span .sdlc-container-input .sdlc-btn-container {
  top: 0%;
  left: 0%;
  height: 100%;
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.secondScreenWrapper .sdlc-form span .sdlc-container-input .sdlc-btn-container:focus-within {
  outline: 1px solid white !important;
}

.secondScreenWrapper .sdlc-form span .sdlc-container-input .sdlc-btn-container input {
  text-align: center;
  background-color: #454e6087;
  border: none;
  outline: none;
  color: #ececec;
}

.secondScreenWrapper .sdlc-form span .sdlc-container-input .sdlc-btn-container input:focus {
  outline: none !important;
  border: none;
}

.secondScreenWrapper .sdlc-form span .sdlc-container-input .sdlc-btn-container button {
  background-color: #454e6087 !important;
  color: white;
  z-index: 40;
  height: 100%;
  font-weight: 600;
  border: none;
  outline: none;
  top: 0%;
  padding: 0 0.1rem;
  cursor: pointer;
  min-width: 2.5rem;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.secondScreenWrapper .sdlc-form span .sdlc-container-input .sdlc-btn-container button:hover {
  background-color: #212c42 !important;
  outline: 1px solid #ececec;
}

.secondScreenWrapper .sdlc-form span .sdlc-container-input button:nth-of-type(1) {
  margin-right: 0.3rem;
}

.secondScreenWrapper .sdlc-form span .sdlc-container-input button:nth-of-type(2) {
  margin-right: 0.3rem;
}

.secondScreenWrapper .sdlc-form span .sdlc-container-input button:nth-of-type(4) {
  margin-right: 0.3rem;
}

.secondScreenWrapper .sdlc-form span .sdlc-container-input button:nth-of-type(5) {
  margin-right: 0.3rem;
}

.secondScreenWrapper .sdlc-form span label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  width: 100%;
}

.secondScreenWrapper .sdlc-form span label .icon-images-game {
  width: 70px;
  height: 70px;
  border: 2px solid #a3ea2a;
  border-radius: 50%;
  padding: 12px;
  background: rgba(114, 124, 146, 0.5);
}

.secondScreenWrapper .sdlc-form span label img {
  width: 15rem;
  height: 2rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.secondScreenWrapper .sdlc-form span label h2 {
  color: #a3ea2a;
  margin-top: -6px;
  width: 100%;
  text-align: center;
  font-size: 22px;
}

.limts-stats {
  width: 100%;
}

.limts-stats__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.limts-stats__heading {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr;
  gap: 0 10px;
  padding: 0.5rem 0 0.5rem 0.3rem;
}

.limts-stats__heading div h1 {
  font-size: 1rem;
  font-weight: 800;
}

.limts-stats__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.limts-stats__content div {
  margin-top: 1.2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr;
  gap: 0 20px;
  padding: 0.5rem 0 0.5rem 0.3rem;
}

.limts-stats__content div p {
  font-size: 1rem;
  text-align: center;
}

.second-btn {
  margin-top: 0% !important;
  padding: 0%;
}

.remaining-sprint-container {
  background-color: #151c2b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #a3ea2a;
  gap: 5px;
  width: 100%;
  font-weight: 500;
  font-size: 1.2rem;
  position: relative;
  padding: 0.5rem 0;
}

.go-home {
  position: absolute;
  top: 50%;
  left: 1%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  cursor: pointer;
  background-color: #454e6087;
  padding: 0.4rem 1rem;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  border-radius: 6px;
  font-weight: 500;
  border: none;
  color: #ececec;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
}

.go-home:hover {
  background-color: #212c42;
  border: 1px solid #ececec;
}

.go-home:active {
  border: none;
}

@media screen and (max-width: 1150px) {
  .secondScreenWrapper {
    width: 95%;
  }
}

@media screen and (max-width: 1050px) {
  .limts-stats {
    margin-top: 0.5rem;
  }
  .secondScreenWrapper {
    -ms-grid-columns: 1.2fr 1fr;
        grid-template-columns: 1.2fr 1fr;
  }
  .secondScreenWrapper .sdlc-form span {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 10px;
  }
}

@media screen and (max-width: 769px) {
  .secondScreenWrapper {
    gap: 5px;
  }
  .remaining-sprint-container {
    top: 3%;
  }
  .limts-stats__content div p {
    text-align: start;
  }
}

@media screen and (max-width: 749px) {
  .secondScreenWrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .secondScreenWrapper .sdlc-form span {
    margin-bottom: 1rem;
  }
  .limts-stats {
    margin: 2rem 0;
  }
}

@media screen and (max-width: 559px) {
  .remaining-sprint-container {
    top: 2%;
  }
}

.content-screenthree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.screen3-container {
  width: 50%;
  padding: 2rem 4rem 0 4rem;
}

.screen3-container img {
  width: 100%;
}

.table-result {
  width: 80%;
  margin: 1rem auto 3rem auto;
}

.table-result table {
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
}

.table-result table thead {
  background-color: #151c2b;
}

.table-result table thead tr th {
  padding: 1rem .3rem;
  text-align: center;
}

.table-result table tbody tr {
  background-color: #454e6087;
  text-align: center;
}

.table-result table tbody tr td {
  padding: .7rem 0;
  text-transform: capitalize;
}

@media screen and (max-width: 1150px) {
  .screen3-container {
    width: 70%;
  }
}

@media screen and (max-width: 1050px) {
  .table-result {
    width: 95%;
  }
  .table-result table thead tr th {
    padding: .8rem .1rem;
    font-size: .8rem;
  }
}

@media screen and (max-width: 790px) {
  .table-result table tbody tr td {
    font-size: .7rem;
  }
}

@media screen and (max-width: 650px) {
  .screen3-container {
    width: 100%;
  }
  .table-result {
    width: 98%;
    overflow: auto;
  }
  .table-result table {
    width: 35rem;
    margin: auto;
    min-width: 35rem !important;
  }
  .table-result table tbody tr td {
    font-size: .5rem;
  }
  .table-result table thead tr th {
    padding: .3rem .1rem;
    font-size: .6rem;
  }
}

.content-screen-result,
.content-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  margin: auto 0;
}

.content-screen-result h1,
.content-result h1 {
  margin-bottom: 1rem;
}

.try-again {
  border: none !important;
}

.try-again__stats {
  text-align: start;
}

.try-again__stats span h1 {
  font-size: 1.5rem !important;
  margin-bottom: 0%;
  width: 15rem;
  text-align: start;
}

.try-again__stats span b {
  font-size: 1.5rem !important;
  text-align: start;
  min-width: 5rem;
}

.last-result {
  width: 50%;
  padding: 1rem 2rem;
  text-align: center;
  border: 5px solid white;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  margin: 0rem 0 1rem 0;
}

.last-result img {
  width: 10rem;
  margin: auto;
  margin-bottom: 1rem;
}

.last-result p {
  color: #a3ea2a;
  margin: 1rem 0;
  font-style: italic;
}

.last-result small {
  position: absolute;
  background-color: #151c2b;
  padding: .5rem;
  bottom: 0%;
  left: 0%;
}

.last-result__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem 0 1rem 0;
}

.last-result__stats span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: .5rem;
}

.last-result__stats span h1 {
  font-size: 1.2rem;
  margin-bottom: 0%;
  width: 15rem;
  text-align: start;
}

.last-result__stats span b {
  font-size: 1.2rem;
  width: 4rem;
}

.model-container {
  width: 50%;
  margin: 1rem auto;
}

.model-container .model {
  color: white;
  border-radius: 10px;
  font-size: .8rem;
}

.model-container .model .flag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 300;
  position: relative;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1rem;
}

.model-container .model .flag-model-tag {
  padding: .5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.model-container .model .flag-model-tag h2 {
  font-weight: 300;
  font-size: 1rem;
}

@media screen and (max-width: 1150px) {
  .last-result {
    width: 70%;
  }
}

@media screen and (max-width: 820px) {
  .last-result {
    width: 90%;
  }
}

@media screen and (max-width: 550px) {
  .last-result {
    width: 97%;
    padding: 1rem .5rem;
    margin: 2rem auto;
  }
  .last-result__stats span {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 1.5rem;
  }
}

.wrapper {
  border: 1px solid #ececec;
  background-color: #212c42;
  min-height: 95vh;
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.btn-container {
  width: 100%;
  text-align: center;
  height: 5rem;
  padding: 1rem;
  margin-top: 1rem;
}

.btn-container button,
.btn-container input[type='submit'] {
  cursor: pointer;
  background-color: #454e6087;
  width: 50%;
  margin: auto;
  padding: .7rem 0;
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  border-radius: 10px;
  font-weight: 600;
  border: none;
  color: #ececec;
  font-size: 1.2rem;
}

.btn-container button:hover,
.btn-container input[type='submit']:hover {
  background-color: #212c42;
  border: 1px solid #ececec;
}

@media screen and (max-width: 750px) {
  .btn-container button,
  .btn-container input[type='submit'] {
    width: 80%;
  }
}

.handleAnimate {
  -webkit-animation: fadeInOut 2s linear infinite;
          animation: fadeInOut 2s linear infinite;
  color: #a3ea2a;
}

@-webkit-keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */